* {
    outline: 1px solid tomato--;
}

:root {
    --pc: #0156c1;
    --pc_sub: #037dc9;
    --sc: #f7820d;
    --tc: #40b337;

    --wc: #ffffff;
    --dc: #202123;
    --lc: #dddddd;
    --bg: #f9f9f9;
    --gc: #bbbbbb;
}

.top_popup {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: url(../images/top_popup.jpg);
    height: 0;
    text-align: center;
    color: var(--wc);
    transition: 0.5s;
}

.top_popup.on {
    height: 150px;
}

.popup_slide {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.top_popup .txt_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top_popup .txt_box h3 {
    margin: 0 0 12px 0;
    padding: 20px 0 0 0;
    font-size: 20px;
    font-weight: 500;
}

.top_popup .txt_box p {
    display: block;
    margin: 0 0 8px 0;
    line-height: 20px;
    font-size: 14px;
}

.top_popup .txt_box span {
    font-size: 14px;
    color: #ff0;
}

.top_popup .popup_slide .slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
    background: none;
    border: none;
    transform: translate(0, -50%);
}

.popup_slide .slick-dots {
    position: absolute;
    top: 0;
    right: 0;
}

.popup_slide .slick-dots li {
    display: inline-block;
    margin: 0 8px;
}

.popup_slide .slick-dots li button {
    font-size: 0;
    background: transparent;
    border: none;

    border: 1px solid var(--wc);
    padding: 5px;
    transform: rotate(45deg);
}

.popup_slide .slick-dots li.slick-active button {
    background: var(--sc);
}

/* .popup_slide .slick-prev {
    left: 0;
}

.popup_slide .slick-next {
    right: 0;
}

.popup_slide .slick-prev::after,
.popup_slide .slick-next::after {
    font-family: xeicon;
    font-size: 50px;
    font-weight: 200;
    z-index: 999;
    color: #666;
}

.popup_slide .slick-prev::after {
    content: "\e93d";
}


.popup_slide .slick-next::after {
    content: "\e940";
} */




/* --------팦업------------------------------------------ */
.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    height: 80px;
    box-sizing: border-box;
    background: var(--wc);
}

.header.on {
    border-bottom: 1px solid var(--lc);
}

.header_wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.header_wrap h1 {
    flex: 1;
    line-height: 80px;
}

.header_wrap h1 a img {
    height: 40px;
}

.header_wrap .gnb {
    flex: 1 0 0;
}

.header_wrap .gnb>ul {
    display: flex;
    gap: 30px;
}

.header_wrap .gnb>ul>li {}

.header_wrap .gnb>ul>li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 80px;
    white-space: nowrap;
}

.header_wrap .util {
    flex: 1 1 0;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: right;
}

.header_wrap .util .lang .language {
    background: none;
    border: none;
    outline: none;
    appearance: none;

    display: inline-block;
    padding: 4px 8px;
    width: 80px;
    height: 30px;
    border: 1px solid var(--pc);
    font-size: 14px;
    color: var(--pc);
    text-align: center;
    cursor: pointer;
}

.header_wrap .util .lang .language option {
    color: var(--pc);
    font-size: 14px;
}

.header_wrap .util .popup_btn button {
    padding: 4px 8px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    border: 1px solid var(--pc);
    background: none;
    color: var(--pc);
    cursor: pointer;
}

.header_wrap .util .popup_btn button::after {
    content: "";
    display: inline-block;
    margin: 0 0 0 5px;
    width: 5px;
    height: 5px;
    border-top: 1px solid var(--pc);
    border-left: 1px solid var(--pc);
    transform: rotate(45deg);
    transition: 0.5s;
}

.header_wrap .util .popup_btn button:hover {
    background: var(--pc);
    color: var(--wc);
}

.header_wrap .util .popup_btn button:hover::after {
    border-top: 1px solid var(--wc);
    border-left: 1px solid var(--wc);
}

.header_wrap .util .popup_btn button.active::after {
    transform: rotate(225deg);
}

/* menu--------------------------------- */
.header .menu_tab.hide {
    display: none;
}

.header .menu_tab {
    position: absolute;
    top: 0;
    right: 0;
}

.header .menu_tab button {
    width: 80px;
    height: 80px;
    border: none;
    background: var(--pc);
    color: var(--wc);
    cursor: pointer;
    line-height: 1;
    cursor: pointer;
}

.header .menu_tab button i {
    font-size: 36px;
}

.header .menu_tab button .xi-bars.on:before {
    content: "\e921";
}


.hidden_menu {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px 30px;

    width: 0;
    height: 0;

    border: 4px solid var(--pc);
    background: var(--wc);
    z-index: 1000;

    transition: 0.5s;
    opacity: 0;
    visibility: hidden;

    overflow-y: scroll;
}

.hidden_menu.on {
    opacity: 1;
    visibility: visible;
    width: 800px;

    height: 500px;


}

.hidden_menu::-webkit-scrollbar {
    width: 12px;
}

.hidden_menu::-webkit-scrollbar-track {
    background-color: var(--tc);
}

.hidden_menu::-webkit-scrollbar-thumb {
    background-color: var(--sc);
    border-radius: 6px;
}

.hidden_menu::-webkit-scrollbar-thumb:hover {
    background-color: var(--pc);
}

.hidden_menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px 30px;
}

.hidden_menu .main_menu>a {
    display: block;
    margin: 0 0 16px 0;
    padding: 0 0 5px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--pc);
    border-bottom: 2px solid var(--pc);
}

.hidden_menu .sub_menu {
    display: flex;
    flex-direction: column;
}

.hidden_menu .sub_menu>li a {
    display: inline-block;
    margin: 0 0 12px 0;
}

.hidden_menu .sub_menu>li::before {
    content: "";
    display: inline-block;
    margin: 0 5px 4px 0;
    width: 3px;
    height: 3px;
    background: #000;
}

.hidden_menu .sub_menu li ol {}

.hidden_menu .sub_menu li ol a {
    display: inline-block;
    margin: 0 0 8px 10px;
    font-size: 14px;
    color: var(--gc);
}

@media (max-width:1400px) {
    .header_wrap {
        gap: 30px;
    }

    .header .menu_tab.hide {
        display: block;
    }

    .header .menu_tab {
        display: none;
        position: static;
        top: 0;
        right: 0;
    }
}

@media (max-width:1200px) {

    .header_wrap h1 {
        flex: 1 1 110;
    }
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡ첫번째섹션ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.visual_wrap {
    position: relative;
}

.visual_wrap .visual_slide figure {
    position: relative;
}

.visual_wrap .visual_slide figure::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/pt01.png);
    opacity: 0.3;
}

.visual_wrap .visual_slide figure img {
    height: 600px;
    object-fit: cover;
}

.visual_wrap .visual_slide .slogan {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 50px;
    text-align: center;
    z-index: 999;
}

.visual_wrap .visual_slide .slogan::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(1);

}

.visual_wrap .visual_slide .slogan strong {
    display: block;
    margin: 0 0 40px 0;
    font-size: 24px;
    color: var(--wc);
}

.visual_wrap .visual_slide .slogan .txt_top {
    margin: 0 0 40px 0;
    white-space: nowrap;
}

.visual_wrap .visual_slide .slogan .txt_top span {
    font-size: 52px;
    font-weight: 500;
    color: var(--gc);
}

.visual_wrap .visual_slide .slogan .txt_top .bold {
    color: var(--wc);
}

.visual_wrap .visual_slide .slogan .txt_bottom {
    font-size: 16px;
    color: var(--wc);
}

.visual_wrap .mquick {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.visual_wrap .mquick ul {
    display: flex;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
}

.visual_wrap .mquick ul>* {
    flex: 1;
}

.visual_wrap .mquick ul li {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.visual_wrap .mquick ul li:hover {
    transition: 0.5s;
    background: var(--pc);
}

.visual_wrap .mquick ul li:nth-child(4) {
    background: url(../images/mquick01.jpg);
}

.visual_wrap .mquick ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.visual_wrap .mquick ul li a i {
    font-size: 36px;
    line-height: 80px;
    color: var(--wc);
    vertical-align: middle;
}

.visual_wrap .mquick ul li a span {
    margin: 0 0 0 15px;
    font-size: 20px;
    font-weight: 400;
    color: var(--wc);
    white-space: nowrap;

}



/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡ두번째섹션ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.main_Ci {
    border-bottom: 1px solid var(--lc);
}

.Ci_wrap {
    display: flex;

}

.Ci_wrap .itm {
    position: relative;
    flex: 1;
    transition: 0.5s;
    overflow: hidden;
    filter: grayscale(80%);
}

.Ci_wrap .itm.on {
    flex: 3;
    filter: grayscale(0%);
}

.Ci_wrap .itm.on .txt_box {
    opacity: 1;
}

.Ci_wrap .itm .img_box {
    height: 500px;
    font-size: 0;
}

.Ci_wrap .itm01 .img_box {
    background: url(../images/mc_01.jpg) no-repeat center center/cover;
}

.Ci_wrap .itm02 .img_box {
    background: url(../images/mc_02.jpg) no-repeat center center/cover;
}

.Ci_wrap .itm03 .img_box {
    background: url(../images/mc_03.jpg) no-repeat center center/cover;
}

.Ci_wrap .itm01 .txt_box .bpt_box {
    background: url(../images/mc_01txt.png) no-repeat left;
}

.Ci_wrap .itm02 .txt_box .bpt_box {
    background: url(../images/mc_02txt.png) no-repeat left;
}

.Ci_wrap .itm03 .txt_box .bpt_box {
    background: url(../images/mc_03txt.png) no-repeat left;
}

.Ci_wrap .itm .txt_box {
    position: absolute;
    top: 70%;
    left: 10%;
    z-index: 999;
    opacity: 0;
}

.Ci_wrap .itm:hover .txt_box {
    opacity: 1;
}

.Ci_wrap .itm01 .txt_box::before,
.Ci_wrap .itm02 .txt_box::before,
.Ci_wrap .itm03 .txt_box::before {
    content: "";
    position: absolute;
    top: -20%;
    left: -10%;
    display: block;
    z-index: -1;

    width: 150px;
    height: 150px;
    opacity: 0.9;
}

.Ci_wrap .itm01 .txt_box::before {
    background: var(--pc);
}

.Ci_wrap .itm02 .txt_box::before {
    background: var(--tc);
}

.Ci_wrap .itm03 .txt_box::before {
    background: var(--sc);
}

.Ci_wrap .itm .txt_box p {
    text-align: left;
    line-height: 28px;
}

.Ci_wrap .itm .txt_box .txt {
    display: block;

    font-size: 20px;
    color: var(--wc);

    white-space: nowrap;
}

.Ci_wrap .itm .txt_box .bpt_box {
    display: inline-block;
    width: 50px;
    height: 59px;
    overflow: hidden;
    line-height: 100px;
    font-size: 0;
}

.Ci_wrap .itm .txt_box strong {
    font-size: 24px;
    font-weight: 600;
}

.Ci_wrap .itm01::before,
.Ci_wrap .itm02::before,
.Ci_wrap .itm03::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Ci_wrap .itm01::before {
    content: "B";
    font-size: 160px;
    font-weight: 900;
    color: var(--pc);
    opacity: 0.6;
}

.Ci_wrap .itm02::before {
    content: "P";
    font-size: 160px;
    font-weight: 900;
    color: var(--tc);
    opacity: 0.6;
}

.Ci_wrap .itm03::before {
    content: "T";
    font-size: 160px;
    font-weight: 900;
    color: var(--sc);
    opacity: 0.6;
}

.Ci_wrap .itm01:hover::before,
.Ci_wrap .itm02:hover::before,
.Ci_wrap .itm03:hover::before {
    opacity: 0;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡ세번째섹션ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.main_History {
    border-bottom: 1px solid var(--lc);
}

.History_wrap {
    position: relative;
}

.main_History .title {
    margin: 0 auto 30px auto;
}

.History_wrap .History_slide {
    margin: 0 -15px;

}

.History_wrap .History_slide .itm {
    position: relative;
    display: flex;
    margin: 0 15px;
    flex-direction: column;
    border: 1px solid #ddd;
    cursor: pointer;
}

.History_wrap .History_slide .itm::after {
    position: absolute;
    bottom: 0;
    right: -30px;
    content: "";
    width: 80px;
    height: 30px;
    background: #fff;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.History_wrap .History_slide .itm::before {
    position: absolute;
    bottom: 5px;
    right: -30px;
    content: "\e90b";
    font-family: xeicon;
    z-index: 1;
    font-size: 24px;
    color: rgb(247, 130, 13);
    opacity: 0;

    visibility: hidden;
}

.History_wrap .History_slide .itm:hover::after {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.History_wrap .History_slide .itm:hover::before {
    right: 30px;
    opacity: 1;
    visibility: visible;
}


.History_wrap .History_slide .itm .img_box img {
    object-fit: cover;
}

.History_wrap .History_slide .itm .txt_box {
    padding: 30px 25px;
    order: 1;
}

.History_wrap .History_slide .itm:hover .txt_box {
    background: var(--sc);
    color: #fff;
    box-sizing: border-box;
}

.History_wrap .History_slide .itm .txt_box .day {
    display: block;
    /* margin: 0 0 8px 24px; */
    margin: 0 0 8px 0;
    font-weight: 600;
}

.History_wrap .History_slide .itm .txt_box .txt {
    display: block;
    height: 40px;
    line-height: 20px;
    /* padding: 0 24px 20px 24px; */
}

.History_wrap .slick-dots {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.History_wrap .slick-dots ul {
    position: relative;
    display: flex;
    gap: 60px;
}

.History_wrap .slick-dots::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #333;
    z-index: -1;
}

.History_wrap .slick-dots li {
    position: relative;
    height: 26px;
    width: 26px;

    display: inline-block;
    margin: 0 30px;
    background: #fff;
    cursor: pointer;
}

.History_wrap .slick-dots li.slick-active {
    width: 26px;
    height: 26px;
    border: 1px solid #000;

    transform: rotate(45deg);

}

.History_wrap .slick-dots li button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 0;
    background: transparent;
    border: none;
    outline: none;

    width: 4px;
    height: 4px;
    background: #000;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡ네번째섹션ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.main_news {}

.main_news .news_wrap {
    display: flex;
    gap: 30px;
    height: 300px;
}

.news_wrap .menu_bar {
    position: relative;
    margin: 0 0 0 auto;
    width: 50px;
    height: 52px;
    text-align: center;
    transition: 0.5s;
}

.news_wrap .menu_bar i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 30px;
}

.news_wrap .left_tap {
    width: 55%;
    overflow: hidden;
}

.news_wrap .left_tap .tab_tit {
    display: flex;
    line-height: 50px;
    margin: 0 0 24px 0;
    border: 1px solid #ddd;
}

.news_wrap .left_tap .tab_tit li {
    flex: 1;
    text-align: center;
}

.news_wrap .left_tap .tab_tit li a {
    display: block;
}

.news_wrap .left_tap .tab_tit .menu_bar:hover {
    background: var(--sc);
    color: var(--wc);
}

.news_wrap .left_tap .tab_tit .menu_bar {
    border-left: 1px solid var(--lc);
    cursor: pointer;
}

.news_wrap .left_tap .tab_con>li {
    display: none;
}

.news_wrap .left_tap .tab_con>li.on {
    display: block;
    display: flex;
    gap: 30px;
    overflow: hidden;
}


.news_wrap .left_tap .tab_con li>* {
    flex: 1;
}

.news_wrap .left_tap .tab_tit>li.on {
    color: var(--wc);
    background: var(--pc);
}

.news_wrap .left_tap .tab_con .art_box {
    display: block;
    padding: 20px;
    max-width: 40%;
}

.news_wrap .left_tap .tab_con .art_box strong {
    display: block;
    margin: 0 0 16px 0;

    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
}

.news_wrap .left_tap .tab_con .art_box span {
    display: block;
    margin: 0 0 16px 0;

    font-size: 14px;
    color: #666;
}

.news_wrap .left_tap .tab_con .art_box p {
    font-size: 14px;
    color: #333;

    line-height: 20px;
    max-height: 9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


.news_wrap .left_tap .tab_con ol {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

}

.news_wrap .left_tap .tab_con ol li {
    border-bottom: 1px solid #ddd;

    width: 100%;
    margin-bottom: 5px;
}

.news_wrap .left_tap .tab_con ol li a {
    position: relative;
    display: inline-block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news_wrap .left_tap .tab_con ol li a::before {
    position: absolute;
    top: 25%;
    left: 0;
    transform: translate(50%, 0);
    content: "";
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
}

.news_wrap .left_tap .tab_con ol li a span {
    display: block;
    margin: 0 0 0 20px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 8px 0;
}

.news_wrap .right_box {
    display: flex;
    gap: 30px;
    width: 50%;
}

.news_wrap .right_box>* {
    flex: 1;
}

.news_wrap .right_box .brochure {
    border: 1px solid #ddd;
}

.news_wrap .right_box .brochure span {
    display: block;
    margin: 0 0 20px 0;
    height: 50px;
    padding: 0 0 0 20px;
    line-height: 50px;

    font-size: 20px;
    font-weight: 500;

    white-space: nowrap;
}

.news_wrap .right_box .brochure img {
    display: block;
    margin: 0 auto;
}

.news_wrap .right_box .bot_popup {
    min-width: 0;
}

.news_wrap .right_box .bot_popup .top_opiton {
    display: flex;
    height: 50px;
    background: #495262;
}

.news_wrap .right_box .bot_popup .top_opiton span {
    display: block;
    padding: 0 0 0 20px;
    line-height: 50px;

    font-size: 20px;
    color: #fff;
}

.news_wrap .right_box .bot_popup .top_opiton .menu_bar:hover {
    background: rgb(247, 130, 13);
}

.news_wrap .right_box .bot_popup .top_opiton .menu_bar i {
    color: #fff;
}

.news_wrap .right_box .popup_wrap .popup_slide {
    position: relative;
}

.news_wrap .right_box .popup_wrap .popup_slide .itm {
    height: 250px;
    padding: 30px 15px;
}

.news_wrap .right_box .popup_wrap .popup_slide .itm01 {
    background: url(../images/mn_02_01.jpg) no-repeat center center/cover;
}

.news_wrap .right_box .popup_wrap .popup_slide .itm02 {
    background: url(../images/mn_02_02.jpg) no-repeat center center/cover;
}

.news_wrap .right_box .popup_wrap .popup_slide .itm .txt_box {
    color: #fff;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
}

.news_wrap .right_box .popup_wrap .popup_slide .itm strong {
    display: block;
    margin: 0 0 24px 0;

    font-size: 24px;
    line-height: 1.3;
}

.news_wrap .right_box .popup_wrap .popup_slide .itm p {
    font-size: 14px;
    font-weight: 300;
}

.news_wrap .right_box .popup_wrap .popup_slide .itm span {
    font-size: 18px;
    font-weight: 800;
    color: var(--dc);
}

.news_wrap .right_box .popup_wrap .popup_slide .slick-arrow {
    position: absolute;
    top: -35px;
    right: 70px;

    width: 25px;
    height: 25px;

    font-size: 0;
    background: none;
    border: none;
}

.news_wrap .right_box .popup_wrap .popup_slide .slick-prev {
    left: 150px;
}

.right_box .popup_wrap .popup_slide .slick-prev::after,
.right_box .popup_wrap .popup_slide .slick-next::after {
    font-family: xeicon;
    font-size: 25px;
    font-weight: 600;
    z-index: 999;
    color: #ddd;
    cursor: pointer;
}

.right_box .popup_wrap .popup_slide .slick-prev::after {
    content: "\e93d";
}


.right_box .popup_wrap .popup_slide .slick-next::after {
    content: "\e940";
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡ푸터ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡ푸터ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.footer {
    position: relative;
    padding: 50px 0 30px 0;
    background: #1c2b37;
}

.footer_util .top_util,
.footer_util .mid_util,
.footer_util .bot_util {
    display: flex;
    gap: 30px;
    margin: 0 0 24px 0;
    justify-content: center;
}

.footer .footer_util .top_util li {
    position: relative;
    width: 370px;
    height: 50px;
    border: 1px solid #666;

    transition: 0.5s;
}

.footer .footer_util .top_util li:hover {
    background: rgba(0, 0, 0, 0.5);
}

.footer .footer_util .top_util li a {
    color: #ddd;
    margin: 0 15px;
    line-height: 50px;
}

.footer .footer_util .top_util li a::after {
    position: absolute;
    top: 20px;
    right: 20px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    transform-origin: center;
    transform: rotate(45deg) scale(1);
    transition: transform 0.3s ease-in-out;
}

.footer .footer_util .top_util li:hover a::after {
    right: 30px;
    transform: rotate(45deg) scale(0);
    transition: 0.3s ease-in-out;
}


.footer .footer_util .top_util li a::before {
    position: absolute;
    top: 20px;
    right: 20px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #616b73;
    border-right: 1px solid #616b73;
    transform: rotate(45deg);
}

.footer_util .mid_util li {
    position: relative;
    display: inline-block;
}

.footer_util .mid_util li~li::after {
    position: absolute;
    top: 5px;
    left: -15px;

    content: "";
    width: 1px;
    height: 8px;
    background: #666;
}

.footer_util .mid_util li a,
.footer_util .bot_util li a,
.footer p {
    color: #ddd;
    font-size: 14px;
}

.footer p {
    text-align: center;
}

.footer a img {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    opacity: 0.8;
}

/* -------------------------totop--------------------- */
.totop_btn {
    position: fixed;
    right: -50px;
    bottom: 100px;

    width: 50px;
    height: 50px;
    background: rgb(247, 130, 13);
    border: none;
    cursor: pointer;

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.totop_btn.on {
    right: 30px;
    visibility: visible;
    opacity: 1;
}

.totop_btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: "\e915";
    font-family: xeicon;
    font-size: 24px;
    color: #fff;
}