.blind {
    font-size: 0;
}

.sec {
    padding: 100px 0;
}

.con {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 32px 15px;

    text-align: center;
}

.title h2 {
    font-size: 48px;
    font-weight: 900;

    margin: 0 0 16px 0;
}

.title p {
    font-size: 16px;
    font-weight: 500;
}